    .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #DBF9FC;
    border: 5px solid red;
  }

  pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    overflow-x: auto;
  }
 h1, h2 {
        font-family: Arial, sans-serif;
        color: #333;
      }

      h1 {
        text-align: center;
        padding: 5px solid black;
        border-style: double;
        font-style: initial;
        background-color: pink;
      }