#container {
  widht: 80%;
  margin: 10px;
  Margin-left: auto;
  Marign-right: auto;
  padding: 10px;
  font-family: Geneva,Arial,Helvetica, sans-serif;
  font-size: .9em;
  text-align: center;
  background-color: lightpink;
 
}

#banner {
  padding: 5px;
  background-color: #D5DBE1;
  font-size: 1.1em;
  border: 5px solid red;
  
  
}

#nav {
  float: left;
  width: 150px;
  margin: 0px;
  padding: 5px;
  background-color: gray;
  border: 5px solid #CD5C5C;
  margin-bottom: 10px;
  margin-top: 5px;
     
}

# nav a {
  display: block;
  text-decoration: none;
  color: #E6E6FA;
  background-color: gray;
  margin: opx;
  padding: 5px;
  width: 140px;
  
}

#nav a : hover {
  background-color: #FFACD
  
}
#main {
  padding: 10px 10px 10px 170px;
  margin-left: 200px;
  background-color: #EBEBEB;
  border: 5px solid #4B0082;
  margin-top: 5px;
}

#footer {
  clear: both; 
  padding: 10px;
  background-color: rgb(213, 219, 225);
  font-size: .7em;
  text-align: center;
  border: 5px solid green;
}

#content {
  padding: 5px;
  background-color: #8A2BE2;
  font-size: 1.1em;
  border: 5px solid black;
  margin-top: 10px;
}

img {
  border: 1px solid black;
  margin: 10px 5px 10px 5px;
  padding: 5px 15px 5px 15px;
  
}