
#container { background-color:  #FFA07A; 
}

body {font-family: Verdana, Arial, sans-serif;
}

header { 
	color: #CCCCFF; 
  background-color: #6495ED;
	background-repeat: no-repeat;		
	background-size: auto 100%;
  padding: .5em 0 .5em 5.5em;
}

main {   
	background-color: #9FE2BF;
  color: #000000;
	padding: 1em; 
}

#sub {   
	background-color: #FFFFFF;
  color: #FF7F50;
	padding: 1em; 
}

aside { text-align: center; }

#footer {  
	background-color: #869DC7;
  font-size:70%;
  text-align: center;
  padding: 0.5em 0;
}

h2 { color: #869DC7; }

img { padding: 1em; }


nav ul { 
	list-style-type: none;
  padding-left: 0; 
	border-top: 1px solid #EEEEEE;
}

nav li { 
	border-bottom: 1px solid #EEEEEE;  
  text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}


@media only screen and (max-width: 768px ) {

	nav ul { 
		display: flex;
    flex-flow: row nowrap;
		justify-content: space-around; }
	nav ul li { border-bottom: none; }
	header { grid-area: header; }
  nav    { grid-area: nav; }
  main   { grid-area: main; }
  #sub   { grid-area: sub; }
	aside  { grid-area: aside; }
  #footer { grid-area: footer; }
	#container { 
		display: grid;
	  grid-template: 
				"header header"
				"nav    nav" 
				"main   aside"
				"footer footer"
				/ 55%  
				}
}



@media only screen and (min-width: 1024px) {

	body { background-color: #808000; }
	nav ul { 
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap; 
	}
	header { grid-area: header; }
  nav    { grid-area: nav; }
  main   { grid-area: main; }
  #sub   { grid-area: sub; }
	aside  { grid-area: aside; }
  #footer { grid-area: footer; }		
	#container { 
		width: 80%;
		margin: auto;
		max-width: 1200px;
	  display: grid;
		grid-template: 
			   "header header header"
			   "nav   sub    aside"
				 "nav    main   aside"
				 "footer footer footer"
				 / 150px; 
		}
} 

h3, h4 {
color: navajowhite;

}